{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'tienda/images/logo_carniceria.png' %}">
    <link rel="stylesheet" href="{% static 'tienda/style.css' %}">
    <title>Carnicería Lizz - Inicio</title>
</head>
<body>
    <header>
        <div class="contenedor-header">
            <div class="marca">
                <a href="{% url 'index' %}">
                   <img src="{% static 'tienda/img/logo_carniceria.png' %}" alt="Logo">
                </a>
                <span>Carnicería Lizz</span>
            </div>
            <nav>
                <p>
                    <a href="{% url 'index' %}">Inicio</a>  
                    <a href="{% url 'menu' %}">Menú de Productos</a>  
                    <a href="{% url 'sucursales' %}">Sucursales</a>  
                    <a href="{% url 'recomendaciones' %}">Recomendaciones</a>  
                    <a href="{% url 'empresa' %}">Conózcanos</a>  
                    <a href="{% url 'login' %}">Mi Perfil</a>
                </p>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero-image">
            <div class="contenido-hero">
                <h1>Calidad y Frescura en cada corte</h1>
                <p>Desde 2010 sirviendo a las familias de la Colonia Obrera.</p>
                <a href="menu_prod.html" class="btn-lizz">Ver Menú de Hoy</a>
            </div>
        </section>
    </main>

    <footer>
        <p>Carnicería Lizz &copy; 2026 - Todos los derechos reservados.</p>
        <p>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss"
            alt="¡CSS Válido!" />
    </a>
</p>
    </footer>

</body>
</html> 