{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'tienda/images/logo_carniceria.png' %}">
    <link rel="stylesheet" href="{% static 'tienda/style.css' %}">
    <title>Carnicería Lizz - Mi Cuenta</title>
</head>
<body>
<header>
    <div class="contenedor-header">
        <div class="marca">
            <a href="{% url 'index' %}">
                <img src="{% static 'tienda/images/logo_carniceria.png' %}" alt="Logo">
            </a>
            <span>Carnicería Lizz</span>
        </div>
        <nav>
            <p>
                <a href="{% url 'index' %}">Inicio</a>
                <a href="{% url 'menu' %}">Menú de Productos</a>
                <a href="{% url 'sucursales' %}">Sucursales</a>
                <a href="{% url 'recomendaciones' %}">Recomendaciones</a>
                <a href="{% url 'empresa' %}">Conózcanos</a>
            </p>
        </nav>
    </div>
</header>

<main>
<div class="flex-layout">
    <!-- LOGIN -->
    <section class="card-lizz">
        <h2>Ingresar a mi Cuenta</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Entrar</button>
            {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
        </form>
    </section>

    <!-- REGISTRO -->
    <section class="card-lizz">
        <h2>Registro de Clientes</h2>
        <form method="POST" action="{% url 'registro' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Crear mi Cuenta</button>
            {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
        </form>
    </section>
</div>
</main>

<footer>
    <p>Carnicería Lizz &copy; 2026</p>
</footer>
</body>
</html>